<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>책 상세 정보</h1>
  <h3>등록 번호 : {{ book.pk }} </h3>
  <h3>제목 : {{ book.title }} </h3>
  <h3>설명 : {{ book.description }} </h3>
  <hr>
  <h2>리뷰 등록</h2>
    <form action="{% url "libraries:detail" book.pk %}" method="POST">
      {% csrf_token %}
      {{ review_form.as_p }}
      <input type="submit" value="리뷰작성">
    </form>
    <hr>
    <h2>리뷰 전체 목록</h2>
    <ul>
      {% for comment in comments %}
      <li>
        {{comment.user}} - {{comment.content}}
      </li>
      {% endfor %}
    </ul>
    <a href="{% url "libraries:index" %}">[back]</a>
</body>
</html>