{% extends "base.html" %}

{% block content %}
<h1>맛집리스트</h1>
<a href="{% url "restaurants:new" %}">[CREATE]</a>
    {% for restaurant in restaurants %}
        <ul>
            <li>
                식당의 이름: {{restaurant.name}}
                <ul>
                    <li>
                        주소: {{restaurant.address}}
                    </li>
                </ul>
                
            </li>
            <a href="{% url "restaurants:detail" restaurant.pk%}">[DETAIL]</a>
        </ul>
        
        <hr>
    {% endfor %}

{% endblock content %}